= simple_form_for(@brand, :html => {:class => 'form-horizontal', :multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => '品牌名称'
    = f.input :logo, :as => :image_preview
    = f.input :logo_cache, :as => 'hidden'
    = f.input :summary, :label => '简介', :input_html => {:rows => 5}
    = f.input :description, :label => '详细介绍', :input_html => {:rows => 10}

  .form-actions
    = f.button :submit, :value => '保存'

