= simple_form_for(@user, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => '用户名', :input_html => {:autocomplete => 'off'}
    = f.input :email, :label => 'Email', :input_html => {:autocomplete => 'off'}
    = f.input :password, :label => '密码'
    = f.input :password_confirmation, :label => '重复密码'
    = f.input :is_admin, :label => '管理员'

  .form-actions
    = f.button :submit, :value => '保存', :class => 'btn btn-success'
