.page-header
  展示

%p#notice= notice

%table.table.table-bordered
  %tr
    %th 用户名
    %td= @user.name
  %tr
    %th Email
    %td= @user.email
  %tr
    %th 管理员
    %td= @user.is_admin ? '是' : '否'

= link_to '修改', edit_user_path(@user), :class => 'btn btn-mini btn-primary'
\|
= link_to '返回', users_path, :class => 'btn btn-mini'
