.page-header
  %h5 美食分类
.groups{:style => 'margin-bottom:20px;padding:0 0 20px 0;height:230px;'}
  - @group.each do |g|
    .group{:style => 'width:310px;height:100px;border:1px solid #eee;float:left;margin:0px 10px 10px 0;padding:3px;'}
      .parent
        - eval("@parent_#{g}").each do |p|
          %strong
            %a{:href => '#'}= p.name
      .children
        - eval("@children_#{g}")[0..20].each do |p|
          %small
            %a{:href => '#'}= p.name
.clearfix

.page-header
  %h5
    - eval("@parent_A").each do |p|
      %strong
        %a{:href => '#'}= p.name
= render_cell :home, :group, 'A'
  

.page-header
  %h5 巧克力
.item_groups{:style => 'height:450px;margin:10px 0;padding:10px 0;'}
  .item{:style => 'width:290px;height:380px;border:1px solid #000;float:left;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 30px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 30px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 30px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 30px;'}

.page-header
  %h5 巧克力
.item_groups{:style => 'height:350px;margin:10px 0;padding:10px 0;'}
  .item{:style => 'width:230px;height:312px;border:1px solid #000;float:left;margin-right:10px;'}
  .item{:style => 'width:230px;height:312px;border:1px solid #000;float:left;margin-right:10px;'}
  .item{:style => 'width:230px;height:312px;border:1px solid #000;float:left;margin-right:10px;'}
  .item{:style => 'width:230px;height:312px;border:1px solid #000;float:left;margin-right:10px;'}

.page-header
  %h5 巧克力
.item_groups{:style => 'height:350px;margin:10px 0;padding:10px 0;'}
  .item{:style => 'width:290px;height:380px;border:1px solid #000;float:left;margin:0 10px 20px 0;'}
  .item{:style => 'width:350px;height:380px;float:left;margin:10px 10px 20px 0;'}
    .item{:style => 'width:350px;height:100px;border:1px solid #000;float:left;margin:0 0px 20px 0px;'}
    .item{:style => 'width:350px;height:100px;border:1px solid #000;float:left;margin:0 0px 20px 0px;'}
    .item{:style => 'width:350px;height:100px;border:1px solid #000;float:left;margin:0 0px 20px 0px;'}
  .item{:style => 'width:290px;height:380px;border:1px solid #000;float:left;margin:0 10px 20px 0;'}

.clearfix

.page-header
  %h5 巧克力
.item_groups{:style => 'height:450px;margin:10px 0;padding:10px 0;'}
  .item{:style => 'width:310px;height:380px;float:left;'}
    .item{:style => 'width:140px;height:190px;border:1px solid #000;float:left;margin:0 10px 10px 0;'}
    .item{:style => 'width:140px;height:190px;border:1px solid #000;float:left;margin:0 10px 10px 0;'}
    .item{:style => 'width:140px;height:190px;border:1px solid #000;float:left;margin:0 10px 10px 0;'}
    .item{:style => 'width:140px;height:190px;border:1px solid #000;float:left;margin:0 10px 10px 0;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 10px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 10px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 10px;'}
  .item{:style => 'width:628px;height:100px;border:1px solid #000;float:left;margin:0 10px 10px 10px;'}
