.page-header
  %h4 brands列表

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Logo
    %th Summary
    %th Description
    %th

  - @brands.each do |brand|
    %tr
      %td= brand.name
      %td= brand.logo
      %td= brand.summary
      %td= brand.description
      %td 
        = link_to '展示', brand, :class => 'btn btn-mini'
        \|
        = link_to '修改', edit_brand_path(brand), :class => 'btn btn-mini btn-primary'
        \|
        = link_to '删除', brand, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to '新增 Brand', new_brand_path, :class => 'btn btn-mini btn-success'
