.page-header
  %h4 品牌 列表

%table.table.table-bordered.table-striped
  %tr
    %th{:style => 'width:80px;'} Logo
    %th{:style => 'width:80px;'} 品牌名称
    %th{:style => 'width:80px;'} 别名
    %th{:style => 'width:80px;'} 分类
    %th{:style => 'width:300px;'} 关键字
    %th

  - @brands.each do |brand|
    %tr
      %td
        %img{:src => brand.logo.url}
      %td= brand.name
      %td= brand.alias
      %td 
        - brand.categories.each do |c|
          %a.pull_left{:href => category_path(c), :style => 'padding:0px 5px;'}= c.name
      %td
        %small=  brand.keywords
      %td 
        = link_to '展示', brand, :class => 'btn btn-mini'
        \|
        = link_to '修改', edit_brand_path(brand), :class => 'btn btn-mini btn-primary'
        \|
        = link_to '删除', brand, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to '新增 品牌', new_brand_path, :class => 'btn btn-mini btn-success'
