.page-header
  展示

%p#notice= notice

%table.table.table-bordered
  %tr
    %th{:style => 'width:80px;'} 品牌名称
    %td= @brand.name
  %tr
    %th Logo
    %td
      %img{:src => @brand.logo.thumb}
  %tr
    %th 简介
    %td= @brand.summary.html_safe
  %tr
    %th 详细介绍
    %td= @brand.description.html_safe


= link_to '修改', edit_brand_path(@brand), :class => 'btn btn-mini btn-primary'
\|
= link_to '返回', brands_path, :class => 'btn btn-mini'
