.page-header
  %h4 用户列表

%table.table.table-bordered.table-striped
  %tr
    %th 用户名
    %th Email
    %th 管理员
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.email
      %td= user.is_admin ? '是' : '否'
      %td 
        = link_to '展示', user, :class => 'btn btn-mini'
        \|
        = link_to '修改', edit_user_path(user), :class => 'btn btn-mini btn-primary'
        \|
        = link_to '删除', user, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to '新增用户', new_user_path, :class => 'btn btn-mini btn-success'
