= simple_form_for(@product, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :price
    = f.input :coupon_price
    = f.input :pic_url
    = f.input :click_url
    = f.input :shop_click_url
    = f.input :detail
    = f.input :volume

  .form-actions
    = f.button :submit, :value => '保存', :class => 'btn btn-success'
