.page-header
  %h4 products列表

.search{:style => 'border:1px solid #eee;padding:20px 5px 10px 5px;'}
  = search_form_for @q, :builder => SimpleForm::FormBuilder, :html => {:class => 'form-horizontal'}, :url => products_path do |f|
    = f.input:title_cont, :label => '标题包含'
    - o = Object.new ; def o.name; '-'; end; def o.id; 0; end;
    = f.input :categories_name_cont, :label => '分类', :collection => Category.top << o, :prompt => '请选择父类', :label_method => :name, :value_method => :name
    .form-actions
      = f.submit :class => 'btn btn-success btn-mini', :value => '查找'
      %a.btn.btn-mini{:href => products_path} 重置
%br/


%table.table.table-bordered.table-striped
  %tr
    %th{:style => 'width:100px'} 图片
    %th{:style => 'width:400px;'} 标题
    %th= sort_link @q, :price, "价格"
    %th= sort_link @q, :coupon_price, "优惠价格"
    %th= sort_link @q, :volume, "销量"
    %th= sort_link @q, :sort, "排序"
    %th

  - @products.each do |product|
    %tr
      %td
        %img{:src => product.pic_url << '_100x100.jpg'}
      %td
        %small
          %a{:href => product.click_url, :target => '_blank'}= product.title
      %td
        %small= "%.2f" % product.price
      %td
        %small= "%.2f" % product.coupon_price
      %td
        %small= product.volume
      %td
        %small= product.sort
      %td 
        = link_to '展示', product, :class => 'btn btn-mini'
        \|
        = link_to '修改', edit_product_path(product), :class => 'btn btn-mini btn-primary'
        \|
        = link_to '删除', product, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

%br

.pull-right= will_paginate @products, :renderer => BootstrapPagination::Rails
= link_to '新增 Product', new_product_path, :class => 'btn btn-mini btn-success'
